<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/static/image/favicon.ico">
        <title>Orz - Blog</title>
        {% block style %}
        <!-- 所有的css文件引入 -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/app_style.css" rel="stylesheet">
        <link href="/static/css/code.css" rel="stylesheet">
        {% endblock %}
    </head>


    <body>
        {% block navbar %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
        {% endblock %}


    {% block scripts %}
    <!-- 所有的js文件引入 -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% endblock %}
    </body>
</html>