{% extends 'index.html' %}


{% block content %}
    <div class="new-container">
        <div class="starter-template">
            <h1 class="blog-name">{{context.caption}}</h1>
            <hr>
            {{ context.context | safe}}
            <hr>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
        $(function(){$('pre').css({"background-color":"#243a4a","color":"#e2dfdf"});});
    </script>
{% endblock %}
