{% extends 'common/base.html' %}


{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div>
            <div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span>Toggle navigation</span>
                <span></span>
                <span></span>
                <span></span>
            </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                <li><a href="http://127.0.0.1:8000">首页</a></li>
                <li><a href="http://127.0.0.1:8000">分类</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="starter-template">
            <h1>Orz - Blog</h1>
            {% for article in articles %}
                <a href="article/{{article.id}}"> {{ article.caption }} </a>
            <br>
                <span> {{article.publish_time}} </span>
            <br>
            {% endfor %}
        </div>
    </div>

    <div class="container">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if articles.has_previous %}
                <li>
                    <a href="?page={{ articles.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {%  for pg in articles.paginator.page_range %}
                {% if articles.number == pg %}
                    <li class="active"><a href="?page={{pg}}">{{pg}}</a></li>
                {% else %}
                    <li><a href="?page={{pg}}">{{pg}}</a></li>
                {% endif %}
            {% endfor %}

            {% if articles.has_next %}
                <li>
                    <a href="?page={{ articles.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    </div>


{% endblock %}
