body {
  padding-top: 0;
}
.starter-template {
  padding: 0px 15px;
  text-align: left;
}
.new-navbar-fixed-top {
  padding-right: 40px;
  padding-left: 40px;
}
.new-navbar {
  border-radius: 0;
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.new-container {
  padding-right: 30%;
  padding-left: 4%;
  margin-right: auto;
  margin-left: auto;
}
.footer {
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 25px;
}
.blog-name {
  margin: 10px 15px;
  font-size: large;
  color: #243a4a;
}
.new-container-comment {
  padding-left: 70%;
  margin-top: 10px;
}
.new-btn-info {
  color: #9d9d9d;
  background-color: #243a4a;
  border-color: #243a4a;
}
.divcss {
  border:2px solid #243a4a;
  border-radius: 5px;
  padding: 10px;
}